html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

html, .application {
  font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
  transition: color calc(1s / 3), background-color calc(1s / 3);
}

body {
  margin: 0;
}

i.material-icons {
  display: inline-flex;
  justify-content: flex-end;
  max-width: 1em !important;
}
