<template lang="pug">
  #cart.page.wrapper
    v-card
      template(v-if="!empty")
        v-card-text
          .headline
            span Total cart price:&nbsp;
            span.orange--text.text--darken-4 {{ $store.getters.cartPrice | money }}&nbsp;
            span for&nbsp;
            span.orange--text.text--darken-4 {{ $store.getters.cartSize | texted }}

        v-card-actions
          v-layout(row wrap)
            v-btn(color="orange darken-3" dark @click="confirmationNeeded = true") Purchase now!
            router-link(to="/home" is="v-btn" flat color="orange" dark) Add items
            v-btn(flat @click="clear()") Clear cart

      template(v-else)
        v-card-text
          .headline The cart is empty

        v-card-actions
          v-layout(row wrap)
            router-link(to="/home" is="v-btn" flat color="orange" dark) Add items

    vs-entries-list(cart)

    //- ***

    v-dialog(v-model="confirmationNeeded" max-width="400" persistent)
      v-card
        v-card-title.headline Please, confirm purchase
        v-card-text.body-1 {{ $store.getters.cartPrice | money }} will automatically be debited from your account.
        v-card-actions
          v-layout(row wrap justify-end)
            v-dialog(max-width="300")
              v-btn(flat @click="purchase()" slot="activator" color="orange darken-4")
                v-icon(left) check
                span OK

              v-card
                v-card-title.headline Successfuly purchased!
                v-card-text.body-1 The funds were automatically debited from your account.

            v-btn(flat @click="purchase(false)")
              v-icon(left) close
              span Cancel

</template>

<script>
import VsEntriesList from "@/components/vsEntriesList";

export default {
  components: { VsEntriesList },

  data: () => ({
    confirmationNeeded: false
  }),
  computed: {
    empty() {
      return !this.$store.getters.cartSize;
    }
  },

  methods: {
    clear() {
      this.$store.dispatch("clearCart");
    },
    purchase(confirmed = true) {
      this.confirmationNeeded = false;

      if (confirmed)
        this.$store.dispatch("purchase");
    }
  }
};
</script>

<style lang="scss" scoped>
// ...
</style>
