<template lang="pug">
  #home-page.wrapper
    vs-entries-list
</template>

<script>
import VsEntriesList from '@/components/vsEntriesList';

export default {
  components: { VsEntriesList }
};
</script>

<style lang="scss" scoped>
// ...
</style>
