<template lang="pug">
  .entries-list.wrapper
    v-container(fluid grid-list-lg px-0)
      v-layout(row wrap)
        v-flex(
          v-for="(entry, key) in entries"
          :key="!cart? entry.id : key"
          v-bind="{ [flexSize]: true }"
        )
          vs-entry(:entry="entry")
</template>

<script>
import VsEntry from "@/components/vsEntry";

export default {
  components: { VsEntry },
  props: {
    cart: { type: Boolean, default: false }
  },

  computed: {
    flexSize() {
      return "xs" + (12 / { xs: 1, sm: 2, md: 3, lg: 4, xl: 6 }[this.$vuetify.breakpoint.name]);
    },
    entries() {
      const { entries } = this.$store.state;
      const ids = Object.keys(entries);

      if (!this.cart)
        return ids.map(key => entries[key]);

      else return (
        ids.filter(id => this.$store.getters.cartHasItem(id))
          .map(key => ({ ...entries[key], ...this.$store.state.cart[key] }))
          .sort((entryA, entryB) => entryB.changed - entryA.changed)
      );
    }
  }
};
</script>

<style lang="scss" scoped>
// ...
</style>
