<template lang="pug">
  v-card.entry.wrapper
    v-card-media(:src="`/src/assets/${ entry.id }`" contain height="200px")

    v-card-title
      span.title {{ entry.name }}

    v-card-actions
      span.title
        span {{ entry.price | money }}
        span.orange--text.text--darken-4(v-if="showCartItemInfo") &nbsp;&times; {{ $store.state.cart[entry.id].quantity }}

      v-spacer

      v-tooltip(right open-delay="800" close-delay="0")
        v-btn(slot="activator" flat icon @click="$store.dispatch('addItem', { id: entry.id })")
          v-icon add_shopping_cart

        span Add

      v-tooltip(right open-delay="800" close-delay="0")
        v-btn(slot="activator" flat icon @click="$store.dispatch('removeItem', { id: entry.id })" :disabled="!added" color="red")
          v-icon remove_shopping_cart

        span Remove
</template>

<script>
export default {
  props: {
    entry: {
      type: Object,
      required: true
    }
  },

  computed: {
    added() {
      return this.$store.getters.cartHasItem(this.entry.id);
    },
    showCartItemInfo() {
      return this.added && this.$route.name === "CartPage";
    }
  }
};
</script>

<style lang="scss" scoped>
// ...
</style>
