<template lang="pug">
  v-toolbar.toolbar.wrapper(app fixed dark color="orange")
    v-container(pa-0)
      v-container(fluid pa-0)
        v-layout(row align-center)
          v-toolbar-title.headline(@click="$router.push('/home')" style="cursor: pointer") Vue Shop
          v-spacer
          router-link(to="/cart" is="v-btn" color="orange darken-4" :disabled="!$store.getters.cartSize")
            span {{ $store.getters.cartSize | texted }} in the cart
            v-icon(right) shopping_cart
</template>

<script>
export default { /* ... */ };
</script>

<style lang="scss" scoped>
// ...
</style>
