<template lang="pug">
  v-app
    vs-toolbar
    v-content.scroll-y(style="max-height: 100vh;")
      v-container
        v-container(fluid pa-0)
          transition(name="fade-transition" mode="out-in")
            router-view
</template>

<script>
import VsToolbar from '@/components/vsToolbar';

export default {
  components: { VsToolbar }
};
</script>

<style lang="scss" scoped>
// ...
</style>
